.Global-container {
  background:#4B5A6B;
}

.Chat-container {
  background:#FCFFFF;
  border: 2px solid #ECF0F0;
  border-radius: 7px;
  margin: 70px 0;
  padding-top: 16px;
  -webkit-box-shadow: 24px 7px 46px 7px rgba(0,0,0,0.31);
  -moz-box-shadow: 24px 7px 46px 7px rgba(0,0,0,0.31);
  box-shadow: 24px 7px 46px 7px rgba(0,0,0,0.31);
}

.Messages-container {
  background:#F2F7F7;
  border: 2px solid #ECF0F0;
  padding-top: 16px;
  height:500px;
  overflow-y:scroll;
  overflow-x: hidden;
}

.Buttons-container {
  text-align: center;
}

.btn-margin {
  margin: 4px 4px 4px 4px;
}

.alert-bot {
    color: #777777;
    background-color: #FFFFFF;
    border-color: #F2F7F7;
}

.alert-user {
    color: #FFFFFF;
    background-color: #5AD28C;
    border-color: #dedede;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, .5);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

.fadeInLeft {
-webkit-animation-name: fadeInLeft;
animation-name: fadeInLeft;
-webkit-animation-duration: 0.7s;
animation-duration: 0.7s;
-webkit-animation-fill-mode: both;
animation-fill-mode: both;
}
@-webkit-keyframes fadeInLeft {
0% {
opacity: 0;
-webkit-transform: translate3d(-40%, 0, 0);
transform: translate3d(-40%, 0, 0);
}
100% {
opacity: 1;
-webkit-transform: none;
transform: none;
}
}
@keyframes fadeInLeft {
0% {
opacity: 0;
-webkit-transform: translate3d(-40%, 0, 0);
transform: translate3d(-40%, 0, 0);
}
100% {
opacity: 1;
-webkit-transform: none;
transform: none;
}
}

.fadeInRight {
-webkit-animation-name: fadeInRight;
animation-name: fadeInRight;
-webkit-animation-duration: 0.7s;
animation-duration: 0.7s;
-webkit-animation-fill-mode: both;
animation-fill-mode: both;
}
@-webkit-keyframes fadeInRight {
0% {
opacity: 0;
-webkit-transform: translate3d(40%, 0, 0);
transform: translate3d(40%, 0, 0);
}
100% {
opacity: 1;
-webkit-transform: none;
transform: none;
}
}
@keyframes fadeInRight {
0% {
opacity: 0;
-webkit-transform: translate3d(40%, 0, 0);
transform: translate3d(40%, 0, 0);
}
100% {
opacity: 1;
-webkit-transform: none;
transform: none;
}
}
×
