html {
  height: 100%;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body.Global-container {
    height: 100vh;
}
.container {
  flex: 1 1 auto;
}

.link {
  stroke: #999;
  stroke-opacity: .6;
  stroke-width: 1px;
}

a {
  color: #5b94d3;
}
a:hover {
  color: #1B6698;
  text-decoration: none;
}

p {
  color: #053D61;
  margin: 10px auto;
}

h3 {
  color: #053D61;
  font-weight: 300;
}

.noselect {
  pointer-events: none;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

.Chat-container {
    background: #FCFFFF;
    margin: 70px 0;
    border: 1px solid #e4e4e4;
    padding: 0px;
    border-radius: 3px;
    box-shadow: 0px 1px 5px gainsboro;
    -moz-box-shadow: 0px 1px 5px gainsboro;
    -webkit-box-shadow: 0px 1px 5px gainsboro;
}

.Messages-container {
  background: #DFE6ED;
/*  border: 1px solid #ddd;*/
  padding-top: 16px;
  height: 433px;
  overflow-y: scroll;
  overflow-x: hidden;
  border-radius: 3px;
}

.Buttons-container {
  text-align: center;
  margin: 10px auto 33px;
}

.btn-margin {
  margin: 4px 4px 4px 4px;
}
.btn.focus, .btn:focus,
.btn-secondary.focus, .btn-secondary:focus {
  box-shadow: none;
}

.btn-group, .btn-group-vertical {
  display: flex;
  vertical-align: middle;
  flex-direction: row;
  justify-content: center;
}
.btn-secondary {
  min-width: 60px;
  margin: 0 10px;
  color: #1B6698;
  background-color: transparent;
  border-color: #1B6698;
  border-radius: 3px;
}
.btn-secondary:hover {
  min-width: 60px;
  margin: 0 10px;
  color: #fff;
  background-color: #1B6698;
  border-color: #1B6698;
}
.btn-yes {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  color: #0B81A3;
  background-color: transparent;
  border-color: #0B81A3;
}
.btn-yes:hover {
  color: #fff;
  /*background-color: #0ABFBF;
  border-color: #0ABFBF;*/
  border: 0;
  background-image: -webkit-linear-gradient(left,#1B6698,#0B81A3);
}
.btn-no {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  color: #FF515A;
  background-color: transparent;
  border-color: #FF515A;
}
.btn-no:hover {
  color: #fff;
  /*background-color: #FF515A;
  border-color: #FF515A;*/
  border: 0;
  background-image: -webkit-linear-gradient(left,#CD5C5C,#FF515A);
}
.btn-about {
  background: none;
  box-shadow: none;
  text-shadow: none;
  border-radius: 3px;
  border: 0;
  color: #ffffff;

  padding: 4px 15px;
  font-size: 1rem;
  line-height: 2;
  font-weight: 400;

  background-image: -webkit-linear-gradient(left,#1B6698,#0B81A3);
  text-decoration: none;
  position: fixed;
  right: 7px;
  transition: none;
}
.btn-about:hover {
  color: #fff;
  background-image:unset;
  background-color: #0B81A3;
  border-color: #0B81A3;
}
.btn-link,
.btn-toggle {
  font-weight: 400;
  color: #1B6698;
  text-decoration: none;
  background-color: transparent;
  margin-top: 10px;
}
.btn-link:hover,
.btn-toggle:hover {
  color: #BADFF7;
  text-decoration: none;
  background-color: transparent;
  border-color: transparent;
}
.btn-rml,
.btn-rml:hover {
    margin: 20px;
}
.alert {
  border-radius: 3px;
  margin: 6px auto;
  max-width: 90%;
}
.alert-bot {
  color: #777777;
  background-color: #FFFFFF;
  border-color: #F2F7F7;
}

.alert-user {
  color: #FFFFFF;
  /*background-color: #0B81A3;
  border-color: #ddd;*/
  background-image: -webkit-linear-gradient(left,#1B6698,#0B81A3);
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, .5);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-40%, 0, 0);
    transform: translate3d(-40%, 0, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-40%, 0, 0);
    transform: translate3d(-40%, 0, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(40%, 0, 0);
    transform: translate3d(40%, 0, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(40%, 0, 0);
    transform: translate3d(40%, 0, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
.mapping_view.Buttons-container {
  text-align: left;
}

#mapping_graph {
  display: block;
  margin: auto;
}

.collapsed > .when-opened,
:not(.collapsed) > .when-closed {
  display: none;
}

/* ABOUT */

.modal-dialog {
  max-width: 633px;
}

.about-section {
  margin: 10px auto 33px;
}

/* Hubspot */
input.hs-button.primary.large {
  background: none;
  box-shadow: none;
  text-shadow: none;
  border-radius: 3px;
  border: 0;
  color: #ffffff;

  padding: 4px 15px;
  font-size: 1rem;
  line-height: 2;
  font-weight: 400;

  background-image: -webkit-linear-gradient(left,#1B6698,#0B81A3);
  text-decoration: none;
  text-transform: uppercase;
}

input.hs-button.primary.large:hover {
  background: none;
  box-shadow: none;
  text-shadow: none;
  border-radius: 3px;
  border: 0;
  color: #ffffff;
  background-color: #0B81A3;
}

fieldset input.hs-input {
  height: 35px !important;
  font-weight: 100;
}

textarea.hs-input {
  height: 133px !important;
  font-weight: 100 !important;
}
fieldset input.hs-input, textarea.hs-input, select.hs-input {
  display: inline-block;
  width: 210px;
  padding: 4px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 17px !important;
  font-weight: normal;
  line-height: 21px !important;
  color: #666;
  border: 1px solid #ccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  box-shadow: none;
}

ul.hs-error-msgs.inputs-list label {
  color: #003C63;
}
.legal-consent-container .field.hs-form-field {
  margin-bottom: -20px !important;
}
.inputs-list li input {
  margin: 0px 3px 0px 0px;
}

input.hs-input:focus {
  box-shadow: none !important;
  border:0;
}

label {
  float: none;
  width: auto;
  font-weight: 300 !important;
  text-align: left;
  line-height: 20px !important;
  padding-top: 0;
  margin-bottom: 4px;
  font-size: 15px !important;
}

fieldset.form-columns-1 .hs-input {
  width: 100% !important;
}

.form-columns-2 .hs-input,
.form-columns-2 textarea.hs-input {
  box-sizing: border-box;
  max-width: 500px;
  width: 97% !important;
}

.legal-consent-container .hs-field-desc.checkbox-desc {
  margin: 0;
  text-align: left;
}


/* Utils */
.ods-front-header {
  height: 60px;
  padding: 20px;
  position: relative;
}

.portal-logo-wrapper {
  align-items: center;
  text-align: center;
}
.ods-front-header__logo {
  height: 90px;
}
.text-search {
  margin: 166px auto;
  text-align: center;
}

.form-control {
  font-size: 1.5rem;
  line-height: 2rem;
  min-width: 150px;
  padding: .5em;
  border-radius: 3px;
  width: 100%;
  max-width: 766px;
  box-shadow: 0 3px 6px 1px rgba(0,0,0,.3);
  margin: 0 auto;
}
:focus:not(.focus-ring) {
  outline-width: 0;
}

/* Footer */

.ods-footer {
  font-size: 0.7rem;
  text-align: left;
  color: white;
  padding: 30px 0px;
  margin-top: 33px;
  background-image: -webkit-linear-gradient(left,#1B6698,#0B81A3);
  position: relative;
  bottom: 0px;
  width: 100%;
}

.ods-footer-lists {
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.ods-footer-lang {
  text-align:center;
}
.ods-footer__logo {
  margin: 10px 0;
  height: 80px;
}
@media screen and (max-width: 768px) {
  .ods-front-header__logo,
  .ods-footer__logo {
    position: relative;
    margin: 10px auto;
    height: auto;
    max-width: 70%;
  }
}
.ods-footer a {
  color: #fff;
}
.ods-footer li {
  list-style: none;
}
.lists {
  display: flex;
  flex-wrap: wrap;
}
.ods-footer h3 {
  padding-bottom: 3px;
  color: white;
  font-size: 1rem;
  font-weight: 100;
}
@media screen and (max-width: 768px) {
  .ods-footer h3 {
    font-size: 0.9rem;
  }
}
.ods-footer .lists h3 {
  border-bottom: 1px solid white;
}
.ods-front-footer__languages,
.ods-front-footer__link {
  color: #fff;
  margin-bottom: .6rem;
}
.ods-front-footer__link--active {
  font-weight: 800;
}

.rml-snippet {
    background: #f8f8f8;
    border-radius: 4px;
    border: 1px solid #ddd;
}

.autocomplete-suggestion {
    cursor: pointer;
}
.autocomplete-suggestions { border: 1px solid #999; background: #FFF; overflow: auto; box-shadow: 0 3px 6px 1px rgba(0,0,0,.3);}
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399FF; }
.autocomplete-group { padding: 2px 5px; }
.autocomplete-group strong { display: block; border-bottom: 1px solid #000; }
