.Global-container {
  background:#4B5A6B;
}

.Chat-container {
  background:#F2F7F7;
  border: 2px solid #ECF0F0;
  border-radius: 7px;
  margin: 70px 0;
  padding-top: 16px;
}

.Messages-container {
  background:#FFFFFF;
  border: 2px solid #ECF0F0;
  padding-top: 16px;
  height:500px;
  overflow-y:scroll;
  overflow-x: hidden;
}

.Buttons-container {;
  text-align: center;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, .5);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}
