.mainfooter{
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 40px;
    ul{
        display: flex;
        li{
            margin-right: 20px;
            img{
                margin-right: 5px;
            }
        }
    }
}