{% load static %}
<!doctype html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css"
          integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static "chat/chat.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "chat/prism.css" %}">
    <link rel="icon" type="image/png" href="{% static "chat/favicon.ico" %}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>OpenDataSoft - Semantic Chatbot</title>
    <script src="https://unpkg.com/vue@2.5.16/dist/vue.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.3.5"></script>
</head>
<body class="Global-container">
<nav class="ods-front-header portal-header-wrapper">
    <div class="portal-navigation">
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-secondary btn-about" data-toggle="modal" data-target="#aboutModal">About
        </button>
    </div>
</nav>
<div class="container">
    <div class="portal-logo-wrapper">
        <img src="{% static "chat/semantic-chatbot-logo.png" %}" class="ods-front-header__logo">
    </div>
    <div class="row">
        <div class="col-lg-2">
        </div>
        <!-- Chat -->
        <div class="col-lg-8 Chat-container" id="chat-app">
            <div class="Messages-container" id="MessagesDiv">
                <div v-for="msg in messages">
                    <div v-if="msg.type == 'bot'" class="row">
                        <div class="col-lg-1"></div>
                        <div class="col-lg-6 alert alert-bot fadeInLeft">
                            <span v-html="msg.text"></span>
                        </div>
                        <div class="col-lg-5"></div>
                    </div>
                    <div v-else class="row">
                        <div class="col-lg-5"></div>
                        <div class="col-lg-6 alert alert-user fadeInRight">
                            <span v-html="msg.text"></span>
                        </div>
                        <div class="col-lg-1"></div>
                    </div>
                </div>
                <div v-if="!awaiting_user && !is_finished" class="row">
                    <div class="col-lg-1"></div>
                    <div class="col-lg-6 alert alert-bot fadeInLeft">
                        <img class="noselect" height="40" src="{% static "chat/bot_typing.gif" %}" alt="Bot typing">
                    </div>
                    <div class="col-lg-5"></div>
                </div>
                {% verbatim %}
                    </div>
                    <!-- <hr class="my-1"> -->
                    <div class="Buttons-container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div v-if="yes_no_selector">
                                    <div class="btn-group" role="group">
                                        <button type="button" v-on:click="user_input_no()"
                                                class="btn btn-secondary btn-no" :disabled="is_finished">No
                                        </button>
                                        <button type="button" v-on:click="user_input_yes()"
                                                class="btn btn-secondary btn-yes" :disabled="is_finished">Yes
                                        </button>
                                    </div>
                                    <div>
                                        <button type="button" v-on:click="user_input_idk()" class="btn btn-link"
                                                :disabled="is_finished">I don't know, pass this one...
                                        </button>
                                    </div>
                                </div>
                                <div v-else-if="class_selector">
                                    <div>
                                        <button class="btn btn-secondary btn-margin"
                                                v-for="associated_class in confirmed_correspondances['classes']"
                                                type="button" v-on:click="user_input_property_class(associated_class)"
                                                :disabled="is_finished">
                                            {{ associated_class.class }} ({{ associated_class.field_name }})
                                        </button>
                                    </div>
                                    <div>
                                        <button class="btn btn-margin btn-link" type="button"
                                                v-on:click="user_input_property_class(null)" :disabled="is_finished">
                                            None of those
                                        </button>
                                    </div>
                                </div>
                                <div v-else-if="field_selector">
                                    <div class="col-lg-6 offset-lg-3 field-selector-container">
                                        <input id="fieldTextBar" class="form-control" autofocus type="text"
                                               placeholder="Field name" autocomplete="off" :disabled="is_finished">
                                        <div class="invalid-feedback">Unknown field</div>
                                    </div>
                                    <div>
                                        <button class="btn btn-margin btn-link" type="button"
                                                v-on:click="user_input_property_class(null)" :disabled="is_finished">
                                            None of those
                                        </button>
                                    </div>
                                </div>
                                <div v-else-if="get_mapping_selector">
                                    <button type="button" v-on:click="get_mapping_btn()"
                                            class="btn btn-secondary btn-yes">Get my mapping!
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr class="my-1">
                    <div class="mapping_view">
                        <div class="mapping_view Buttons-container">
                            <a class="btn btn-toggle btn-margin collapsed" data-toggle="collapse" href="#graph"
                               role="button" aria-expanded="false">
                                Toggle mapping
                                <span class="when-closed">&nbsp;<i class="fas fa-angle-down"></i></span>
                                <span class="when-opened">&nbsp;<i class="fas fa-angle-up"></i></span>
                            </a>
                        </div>
                        <div class="graph collapse" id="graph">
                            <svg id="mapping_graph" width="600" height="600"
                                 viewBox="-300 -300 600 600">
                            </svg>
                        </div>
                    </div>
                    </div>
                    <div class="col-lg-2">
                    </div>
                    </div>
                    </div>
                {% endverbatim %}
<!-- resultModal -->
<div class="modal fade bd-example-modal-lg" id="resultModal" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Result for dataset {{ dataset_id }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="about-section">
                    <h3><i class="fas fa-share-alt"></i> Your mapping</h3>
                    <div>
            <pre class="rml-snippet" style="white-space: pre-line;">
              <button type="button" class="btn btn-secondary btn-about btn-rml" data-clipboard-target="#rmlMapping">Copy mapping</button>
              <code id="rmlMapping" class="language-yaml"></code>
            </pre>
                    </div>
                </div>
                <div class="about-section">
                    <h3><i class="fas fa-cogs"></i> Update dataset with the semantic mapping</h3>

                    <h4>If it's the first time, activate semantic metadata on your domain</h4>
                    <ol>
                        <li>Ask <a
                                href="mailto:support@opendatasoft.com?Subject=Please%20activate%20metadata%20templates">support</a>
                            to activate metadata templates on your domain,
                        </li>
                        <li>Go to your backoffice in the Configuration section,</li>
                        <li>Go to Other metadata and click on Semantic Metadata,</li>
                        <li>Check 'Activate this metadata template on the portal',</li>
                        <li>Click the Save button.</li>
                    </ol>

                    <h4>Upload the mapping on your dataset</h4>
                    <ol>
                        <li id="urlSetMapping">Get to the dataset in the backoffice:</li>
                        <li>Scroll to Semantic Metadata section,</li>
                        <li>Paste your mapping in RML Mapping,</li>
                        <li>Click Save and Publish your dataset.</li>
                    </ol>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
              integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
              crossorigin="anonymous">
    </div>
</div>
</div>
<!-- Footer -->
<div class="ods-footer">
    <div class="ods-footer-lists">
        <a href="https://opendatasoft.com"
           target="_blank">
            <img src="{% static "chat/1000_white.png" %}" alt="OpenDataSoft logo" class="ods-footer__logo">
        </a>
        <div class="lists">
            <ul class="">
                <li>
                    <h3>
                        OpenDataSoft <i class="fa fa-globe" aria-hidden="true"></i>
                    </h3>
                </li>
                <li>
                    <a href="https://www.opendatasoft.com/about-us/" target="_blank">About us</a>
                </li>
                <li>
                    <a href="https://legal.opendatasoft.com/en/terms-of-use.html" target="_blank">Terms of use</a>
                </li>

                <li>
                    <a href="https://www.opendatasoft.com/resources/" target="_blank">Ressources</a>
                </li>
                <li>
                    <a href="https://legal.opendatasoft.com/en/privacy-policy.html" target="_blank">Privacy</a>
                </li>

            </ul>

            <ul class="">
                <li>
                    <h3>
                        Tech Center <i class="fa fa-code" aria-hidden="true"></i>
                    </h3>
                </li>
                <li>
                    <a href="https://help.opendatasoft.com/en/home" target="_blank">Help center</a>
                </li>

                <li>
                    <a href="https://github.com/opendatasoft" target="_blank">Github</a>
                </li>
                <li>
                    <a href="https://vimeo.com/channels/howtoopendatasoft" target="_blank">Tutorials</a>
                </li>
            </ul>

            <ul class="">
                <li>
                    <h3>
                        Contact <i class="fa fa-envelope-open-o" aria-hidden="true"></i>
                    </h3>
                </li>
                <li>
                    <a href="https://www.opendatasoft.com/contact/" target="_blank">Contact</a>
                </li>
                <li>
                    <a href="https://twitter.com/opendatasoft" target="_blank">Twitter</a>
                </li>
                <li>
                    <a href="https://www.facebook.com/opendatasoft/" target="_blank">Facebook</a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/company/opendatasoft/" target="_blank">Linkedin</a>
                </li>
                <li>
                    <a href="https://vimeo.com/opendatasoft" target="_blank">Vimeo</a>
                </li>
            </ul>
            <ul class="">
                <li>
                    <h3>
                        Awesomeness <i class="fa fa-heartbeat" aria-hidden="true"></i>
                    </h3>
                </li>
                <li>
                    <a href="https://entreprises.live/pages/home/" target="_blank">Entreprises.live</a>
                </li>
                <li>
                    <a href="https://www.datastro.eu/pages/home/" target="_blank">Datastro</a>
                </li>
                <li>
                    <a href="http://opendataamerica.com/" target="_blank">OpenDataAmerica</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- aboutModal -->
<script src="{% static "chat/about.js" %}"></script>
<script src="https://code.jquery.com/jquery-3.2.1.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

<script>
    function get_dataset_id() {
        return "{{ dataset_id }}";
    }

    function scroll_chat_to_bottom() {
        var chatHistory = document.getElementById("MessagesDiv");
        chatHistory.scrollTop = chatHistory.scrollHeight;
    }
</script>
<!-- d3js for the graph -->
<script src="https://d3js.org/d3.v5.min.js"></script>
<script src="http://d3js.org/d3-selection-multi.v1.js"></script>
<!-- custom scripts -->
<script src="{% static "chat/jquery.autocomplete.js" %}"></script>
<script src="{% static "chat/clipboard.min.js" %}"></script>
<script src="{% static "chat/prism.js" %}"></script>
<script src="{% static "chat/chat.js" %}"></script>
</body>
</html>
